@model Library_App.Models.Reader

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="ADDShelf">Add a shelf</a>
    <a asp-action="AddBook" asp-route-id="@Model.ReaderId">Add a book!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Shelf Name
            </th>
            <th>
               
            </th>
            <th>
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in  ViewBag.Myshelves) {
        <tr>
            <td>
                <div style="display:block;width:100%" asp-action="Details" asp-route-id="@item.Shelf_Name"></div>
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Shelf_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Shelf_ID">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
